.div-paginaAnunciante{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: #ffffff;
}

.div-anuncio{
    background-color: #f8f9f6;
    border-radius: 15px;
    border-style: outset;
}

